#timeSeries { font: 12px Arial;}

/*
Commented out because it was overriding Leaflet markers.
Can this be made more specific if it is needed?
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
*/

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
